.browse_org{
    margin-top: 70px;
}
.browse_org .head-text{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.org_upcoming_prev{
    margin-top: 4%;
    height: 70%;
}
.browse_org_upcoming{
    margin-top: 3%;
}
.org_upcoming{
    display: flex;
    height:300px;
    margin-left: 10px;
   }
    #browse_org_upcoming_header{
    margin-left: 35px;
   }
   #browse_org_prev_header{
    margin-left: 35px;
   }
   .browse_org_upcoming .event_upcoming{
       margin: 10px;
       text-align: center;
       height: 230px;
       width: 18%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px;
       border-radius: 18px;
       background-color: #e8eddf;
       padding-bottom: 15px;
       transition-duration: 0.2s;
   }
   .org_upcoming .event_upcoming img{
       width:100%;
       height:180px;
       border-top-right-radius: 9%;
       border-top-left-radius: 9%;
   }
   .org_upcoming .event_upcoming:hover{
    transform: scale(1.04);
    cursor: pointer;
   }


   .org_prev{
    display: flex;
    height:300px;
    margin-left: 10px;
   }
   .org_prev .event_prev{
    margin: 10px;
    text-align: center;
    height: 230px;
    width: 18%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px;
    border-radius: 18px;
    background-color: #e8eddf;
    padding-bottom: 15px;
    transition-duration: 0.2s;
   }
   .org_prev .event_prev img{
       width:100%;
       height:180px;
       border-top-right-radius: 9%;
       border-top-left-radius: 9%;
   }
   .org_prev .event_prev:hover{
    transform: scale(1.04);
    cursor: pointer;
   }
   .browse_org_main{
    height: 400px;
    width: 95.8%;
    margin: 0 auto;
    margin-top: 95px;
    border-radius: 10px;
    background-color: #e8eddf;
    display: flex;
   }
   .browse_org_logo img{
   width: 400px;
   height: 400px;
   object-fit: cover;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   }
   .browse_org_info{
    width:100%;
    height: 400px;


   } 
   .browse_org_description{
    margin-left:20px;
    margin-top:10px;
   }

   .discover-browseorg{
    width: 85%;
    border-radius: 10px;
    background-color: #E8EDDF;
    margin: 0 auto;
    margin-top:10px
   }