:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333533;
  background-color: #CFDBD5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Main{
  margin-top: 80px ;
}
html{
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.html::-webkit-scrollbar {
  display: none; 
}

